@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */
body {
  min-height: 100dvh;
  font-family: 'Noto Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Space Grotesk', sans-serif;
}
